.partners__card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-self: center;
}

@media screen and (max-width: 1279px) {
  .partners__card-box {
    gap: 18px;
  }
}

@media screen and (max-width: 767px) {
  .partners__card-box {
    row-gap: 20px;
    column-gap: 0;
  }
}
