.partners {
  display: flex;
  flex-direction: column;
  margin-bottom: 73px;
}

@media screen and (max-width: 1279px) {
  .partners {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .partners {
    max-width: 335px;
  }
}
